@font-face {
  font-family: "Roboto Thin";
  src: url("../fonts/Roboto-Thin.woff ");
}

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.woff ");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.woff");
}

.roboto-thin {
  font-family: "Roboto Thin", "Avenir Light";
}

body,html{
  background-color: #f7f7f8 !important;
}

/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #3E7D8D;
  --f7-theme-color-rgb: 62, 125, 141;
  --f7-theme-color-shade: #346a77;
  --f7-theme-color-tint: #4e9cb0;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #3E7D8D;
  --f7-bars-link-color: #3E7D8D;
  --f7-navbar-subtitle-text-color: rgba(62, 125, 141, 0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #3E7D8D;
  --f7-tabbar-link-inactive-color: rgba(62, 125, 141, 0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #346a77;
}

.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-link-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255, 255, 255, 0.1);
}

.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 96;
  --g: 20;
  --b: 3;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(calc(var(--r) + (255 - var(--r)) * var(--progress)),
  calc(var(--g) + (255 - var(--g)) * var(--progress)),
  calc(var(--b) + (255 - var(--b)) * var(--progress)));
}

.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Your app custom styles here */
.bg-color-transparent, .login-screen-content {
  background-color: transparent !important;
}

.login-screen-title {
  img {
    max-width: 250px;
  }
}

.glass{
  background-color: rgba(255, 255, 255, .3) !important;
  backdrop-filter: blur(25px);
}

.navbar, .toolbar {
  background-color: rgba(255, 255, 255, 1) !important;
  //backdrop-filter: blur(25px);
}

.navbar-bg {
  background-color: transparent !important;
}

.navbar-bg-white{
  .navbar-bg {
    background-color: rgba(255, 255, 255, 1) !important;

  }
}

.login-screen-page, .page {
  //background-image: linear-gradient(#3E7D8D, #f7f7f8, #f7f7f8, #f7f7f8, #f7f7f8) !important;
  //background: url(https://inagave.com/background_panel.jpg) no-repeat !important;
}

.product-header{
  height: 250px;
  font-family: Roboto, Avenir, sans-serif;
  color:white !important;
  text-shadow: 1px 1px #000;
  font-size: 1.3em;
}

